* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main {
    color: #000;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}

.main h1 {
    text-align: center;
    background-color: #333;
    color: orange;
}

#persnal-info {
    background-color: #ccc;
    color: #000;
    height: 30vh;
    width: fit-content;
    border-radius: 8px;
    border-color: #000;
    overflow: auto;
}

#persnal-info h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content {
    display: flex;
    height: 40vh;
    width: 100%;
    background-color: #f5f5f5;
    justify-content: space-evenly;
    padding-top: 2%;
}

.grid {
    margin-top: 1%;
    display: flex;
    overflow: auto;
    max-width: 100vw;
    max-height: 100vh;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
  }
  
  .grid img {
    object-fit: cover; 
    width: 100%;
    height: 100%;
    max-width: 100%; 
    max-height: 100%;
  }
  

#header {
    background-color: darkgreen;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    color: yellowgreen;
}

#content {
    padding: 1rem;
}

#about-content {
    height: fit-content;
    width: 100%;
}

#persnal-info:hover {
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    transform: translate(-2px);
    transition: box-shadow 0.3s, transform 0.3s;
}

.project-table {
    display: flex;
    flex-direction: column;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    overflow: auto;
    max-height: 70vh;
}

.project-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.project-table th,
.project-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.project-table th {
    background-color: #f2f2f2;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

@media only screen and (max-width: 600px) {
    .content {
        display: flex;
        height: fit-content;
        width: 100%;
        padding-top: 2%;
        background-color: #f5f5f5;
        flex-direction: column;
        align-items: center;
    }

    #persnal-info {
        background-color: #ccc;
        color: #000;
        height: fit-content;
        width: 90vw;
        border-radius: 8px;
        margin-top: 2%;
    }

    #about-content {
        height: fit-content;
        width: fit-content;
        padding-left: 2%;
    }

    .grid {
        margin-top: 1%;
        display: flex;
        overflow: auto;
        max-width: 100vw;
        max-height: 35vh;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
      }
}